@model UploadConfirmationModel
@{
    ViewData["Title"] = "UpoladConfirmation";
    Layout = "_Layout2";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Upload Contacts</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Dashboard" asp-action="Index">Dashboard</a></li>
                    <li class="breadcrumb-item active">Upload</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        <div class="card-body">
            <table id="uploadConfirmationTable" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        @foreach (var item in Model.FieldName)
                        {

                            <th>@item</th>


                        }
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.FieldValue.Count;)
                    {
                        <tr>
                            @for (int j = 0; j < Model.FieldName.Count; j++)
                            {
                                <td>@Model.FieldValue[i]</td>
                                i++;
                            }
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        @foreach (var item in Model.FieldName)
                        {
                            <th>@item</th>
                        }
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="row">
            <form method="post" asp-action="UploadConfirmation" asp-controller="Contacts" asp-antiforgery="true">
                <input type="hidden" asp-for="GroupId" />
                <input type="hidden" asp-for="TempDataId" />
                <div class="row">
                    <div class="col-sm-6">
                        <a asp-action="Cancel" asp-controller="Contacts" class="btn btn-secondary">Cancel</a>
                    </div>
                    <div class="col-sm-6">
                        <input type="submit" value="Confirm" class="btn btn-success float-right">
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>


@section Scripts {

    <script>
        $(function () {
            $('#uploadConfirmationTable').DataTable({
                "paging": false,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
}